.list {
    min-width: 355px;
    max-width: 355px;
}

.newBoard {
    min-width: 355px;
    max-width: 355px;
}

.boards-container {
    overflow-x: auto !important;
}

.label {
    margin: 2px;
}

.item {
    align-self: flex-start;

    .edit {
        position: absolute;
        top: 2px;
        right: 3px;

        &.btn-icon {
            transform: scale(.8);
        }
    }
}